<div class="nx-main-content-area nx-horizontal-panel">
   <div *ngIf="object; else loading">
      <div id="objectHeader" class="nx-title-bar">
         <div>
            <clr-icon [attr.shape]="object.icon" size="32"></clr-icon>
         </div>
         <div>
            <h3 style="margin: 4px">{{object.objectName}}</h3>
         </div>
         <div class="nx-title-bar-divider"></div>
         <div class="dropdown">
            <button type="button" class="dropdown-toggle btn btn-link">
               ACTIONS
               <clr-icon shape="caret down"></clr-icon>
            </button>
            <div class="dropdown-menu">
               <h4 class="dropdown-header">Object actions</h4>
               <button type="button" class="dropdown-item">Lorem.</button>
               <button type="button" class="dropdown-item">Lorem ipsum.</button>
               <button type="button" class="dropdown-item">Lorem ipsum dolor.</button>
               <div class="dropdown-divider"></div>
               <button type="button" class="dropdown-item">Link</button>
            </div>
         </div>
         <div class="dropdown">
            <button type="button" class="dropdown-toggle btn btn-link">
               TOOLS
               <clr-icon shape="caret down"></clr-icon>
            </button>
            <div class="dropdown-menu">
               <h4 class="dropdown-header">Object actions</h4>
               <button type="button" class="dropdown-item">Lorem.</button>
               <button type="button" class="dropdown-item">Lorem ipsum.</button>
               <button type="button" class="dropdown-item">Lorem ipsum dolor.</button>
               <div class="dropdown-divider"></div>
               <button type="button" class="dropdown-item">Link</button>
            </div>
         </div>
      </div>
      <div id="objectTabs">
         <nav class="subnav nx-main-content-area">
            <ul class="nav">
               <li class="nav-item">
                  <a class="nav-link" [routerLink]="['./summary']" [routerLinkActive]="'active'">Summary</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" [routerLink]="['./alarms']" [routerLinkActive]="'active'">Alarms</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" [routerLink]="['./performance']" [routerLinkActive]="'active'">Performance</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" [routerLink]="['./interfaces']" [routerLinkActive]="'active'">Interfaces</a>
               </li>
            </ul>
         </nav>
         <div class="nx-horizontal-panel">
            <router-outlet></router-outlet>
         </div>
      </div>
   </div>
</div>

<ng-template #loading>
   <div>
      <span class="spinner spinner-inline"></span>
      <span style="margin-left: 4px">Loading...</span>
   </div>
</ng-template>