<ng-container *ngIf="rootObjects$ | async as rootObjects; else loadingOrError">
   <clr-tree [clrLazy]="true">
      <clr-tree-node *clrRecursiveFor="let object of rootObjects; getChildren: getChildren" [clrLoading]="loading"
         [clrExpandable]="object.expandable">
         <a [routerLink]="['./', object.objectId]" class="clr-treenode-link">
            <clr-icon [attr.shape]="object.icon"></clr-icon>
            {{object.objectName}}
         </a>
      </clr-tree-node>
   </clr-tree>
</ng-container>
<ng-template #loadingOrError>
   <ng-container *ngIf="error; else loading">
      <nx-api-error-message [error-object]="error"></nx-api-error-message>
   </ng-container>
   <ng-template #loading>
      <div style="margin: 5px">
         <span class="spinner spinner-inline"></span>
         <span style="margin-left: 4px">Loading...</span>
      </div>
   </ng-template>
</ng-template>