/* You can add global styles to this file, and also import other style files */

html, body {
   width: 100%;
   height: 100%;
   margin: 0
}

.nx-horizontal-panel {
   display: flex;
   flex-flow: column;
}

.nx-horizontal-panel .nx-panel-header {
   flex: 0 1 auto;
}

.nx-horizontal-panel .nx-panel-content {
   flex: 1 1 auto;
}

.nx-horizontal-panel .nx-panel-footer {
   flex: 0 1 auto;
}

.nx-main-view {
   width: 100%;
   height: 100%;
   position: fixed
}